.menu
{
	background-color: #33FFBE;
	align-content: center;
	align-self: center;
	width: 100%;
	margin: auto;
}

td 
{ 
 	text-align:center;
}
 
 th 
{ 
  	background-color:#33FFBE;
 	text-align:center;
}

tbody > tr:nth-child(odd)
{
    background-color:#EEEEEE;
}

tbody > tr:nth-child(even)
{
    background-color:#B9D7CE;
}
